LosGrisesWeb/Connected Services/ProxyAutor/LosGrisesServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LosGrisesServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LosGrisesServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAutorDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AutorDC" nillable="true" type="tns:AutorDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAutorDC" nillable="true" type="tns:ArrayOfAutorDC" />
  <xs:complexType name="AutorDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="AutorId" type="xs:int" />
      <xs:element minOccurs="0" name="AutorNombreApellidos" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AutorDC" nillable="true" type="tns:AutorDC" />
</xs:schema>