LosGrisesWeb/Connected Services/ProxyConsultas/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/LosGrisesServices" />
  <xs:element name="ObtenerLibrosMasAlquilados">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
        <xs:element minOccurs="0" name="libro" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerLibrosMasAlquiladosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LosGrisesServices" minOccurs="0" name="ObtenerLibrosMasAlquiladosResult" nillable="true" type="q1:ArrayOfLibroAlquilado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarEjemplaresDisponibles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="libro" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarEjemplaresDisponiblesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LosGrisesServices" minOccurs="0" name="ConsultarEjemplaresDisponiblesResult" nillable="true" type="q2:ArrayOfEjemplar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerGenerosMasSolicitados">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerGenerosMasSolicitadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LosGrisesServices" minOccurs="0" name="ObtenerGenerosMasSolicitadosResult" nillable="true" type="q3:ArrayOfGeneroSolicitado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEditorialesMasAlquiladas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEditorialesMasAlquiladasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LosGrisesServices" minOccurs="0" name="ObtenerEditorialesMasAlquiladasResult" nillable="true" type="q4:ArrayOfEditorialAlquilada" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerRentasPorFechas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
        <xs:element minOccurs="0" name="cliente" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerRentasPorFechasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/LosGrisesServices" minOccurs="0" name="ObtenerRentasPorFechasResult" nillable="true" type="q5:ArrayOfRenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>