LosGrisesWeb/Connected Services/ProxyConsultas/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServicioConsultas" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/LosGrisesServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioConsultas_ObtenerLibrosMasAlquilados_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerLibrosMasAlquilados" />
  </wsdl:message>
  <wsdl:message name="IServicioConsultas_ObtenerLibrosMasAlquilados_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerLibrosMasAlquiladosResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioConsultas_ConsultarEjemplaresDisponibles_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarEjemplaresDisponibles" />
  </wsdl:message>
  <wsdl:message name="IServicioConsultas_ConsultarEjemplaresDisponibles_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarEjemplaresDisponiblesResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioConsultas_ObtenerGenerosMasSolicitados_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGenerosMasSolicitados" />
  </wsdl:message>
  <wsdl:message name="IServicioConsultas_ObtenerGenerosMasSolicitados_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerGenerosMasSolicitadosResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioConsultas_ObtenerEditorialesMasAlquiladas_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEditorialesMasAlquiladas" />
  </wsdl:message>
  <wsdl:message name="IServicioConsultas_ObtenerEditorialesMasAlquiladas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEditorialesMasAlquiladasResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioConsultas_ObtenerRentasPorFechas_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerRentasPorFechas" />
  </wsdl:message>
  <wsdl:message name="IServicioConsultas_ObtenerRentasPorFechas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerRentasPorFechasResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioConsultas">
    <wsdl:operation name="ObtenerLibrosMasAlquilados">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioConsultas/ObtenerLibrosMasAlquilados" message="tns:IServicioConsultas_ObtenerLibrosMasAlquilados_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioConsultas/ObtenerLibrosMasAlquiladosResponse" message="tns:IServicioConsultas_ObtenerLibrosMasAlquilados_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarEjemplaresDisponibles">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioConsultas/ConsultarEjemplaresDisponibles" message="tns:IServicioConsultas_ConsultarEjemplaresDisponibles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioConsultas/ConsultarEjemplaresDisponiblesResponse" message="tns:IServicioConsultas_ConsultarEjemplaresDisponibles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerGenerosMasSolicitados">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioConsultas/ObtenerGenerosMasSolicitados" message="tns:IServicioConsultas_ObtenerGenerosMasSolicitados_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioConsultas/ObtenerGenerosMasSolicitadosResponse" message="tns:IServicioConsultas_ObtenerGenerosMasSolicitados_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerEditorialesMasAlquiladas">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioConsultas/ObtenerEditorialesMasAlquiladas" message="tns:IServicioConsultas_ObtenerEditorialesMasAlquiladas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioConsultas/ObtenerEditorialesMasAlquiladasResponse" message="tns:IServicioConsultas_ObtenerEditorialesMasAlquiladas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerRentasPorFechas">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioConsultas/ObtenerRentasPorFechas" message="tns:IServicioConsultas_ObtenerRentasPorFechas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioConsultas/ObtenerRentasPorFechasResponse" message="tns:IServicioConsultas_ObtenerRentasPorFechas_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioConsultas" type="tns:IServicioConsultas">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerLibrosMasAlquilados">
      <soap:operation soapAction="http://tempuri.org/IServicioConsultas/ObtenerLibrosMasAlquilados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarEjemplaresDisponibles">
      <soap:operation soapAction="http://tempuri.org/IServicioConsultas/ConsultarEjemplaresDisponibles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerGenerosMasSolicitados">
      <soap:operation soapAction="http://tempuri.org/IServicioConsultas/ObtenerGenerosMasSolicitados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerEditorialesMasAlquiladas">
      <soap:operation soapAction="http://tempuri.org/IServicioConsultas/ObtenerEditorialesMasAlquiladas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerRentasPorFechas">
      <soap:operation soapAction="http://tempuri.org/IServicioConsultas/ObtenerRentasPorFechas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioConsultas">
    <wsdl:port name="BasicHttpBinding_IServicioConsultas" binding="tns:BasicHttpBinding_IServicioConsultas">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/LosGrisesServices/ServicioConsultas/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>