LosGrisesWeb/Connected Services/ProxyLibro/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServicioLibro" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/LosGrisesServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioLibro_ConsultarLibro_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarLibro" />
  </wsdl:message>
  <wsdl:message name="IServicioLibro_ConsultarLibro_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarLibroResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioLibro_ListarLibro_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarLibro" />
  </wsdl:message>
  <wsdl:message name="IServicioLibro_ListarLibro_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarLibroResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioLibro_InsertarLibro_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarLibro" />
  </wsdl:message>
  <wsdl:message name="IServicioLibro_InsertarLibro_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarLibroResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioLibro_ActualizarLibro_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarLibro" />
  </wsdl:message>
  <wsdl:message name="IServicioLibro_ActualizarLibro_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarLibroResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioLibro">
    <wsdl:operation name="ConsultarLibro">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioLibro/ConsultarLibro" message="tns:IServicioLibro_ConsultarLibro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioLibro/ConsultarLibroResponse" message="tns:IServicioLibro_ConsultarLibro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarLibro">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioLibro/ListarLibro" message="tns:IServicioLibro_ListarLibro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioLibro/ListarLibroResponse" message="tns:IServicioLibro_ListarLibro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertarLibro">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioLibro/InsertarLibro" message="tns:IServicioLibro_InsertarLibro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioLibro/InsertarLibroResponse" message="tns:IServicioLibro_InsertarLibro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarLibro">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioLibro/ActualizarLibro" message="tns:IServicioLibro_ActualizarLibro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioLibro/ActualizarLibroResponse" message="tns:IServicioLibro_ActualizarLibro_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioLibro" type="tns:IServicioLibro">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarLibro">
      <soap:operation soapAction="http://tempuri.org/IServicioLibro/ConsultarLibro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarLibro">
      <soap:operation soapAction="http://tempuri.org/IServicioLibro/ListarLibro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarLibro">
      <soap:operation soapAction="http://tempuri.org/IServicioLibro/InsertarLibro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarLibro">
      <soap:operation soapAction="http://tempuri.org/IServicioLibro/ActualizarLibro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioLibro">
    <wsdl:port name="BasicHttpBinding_IServicioLibro" binding="tns:BasicHttpBinding_IServicioLibro">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/LosGrisesServices/ServicioLibro/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>