LosGrisesWeb/Connected Services/ProxyCliente/LosGrisesServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LosGrisesServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LosGrisesServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ClienteDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Distrito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Provincia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cli_ape" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cli_dir" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cli_dni" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cli_fec_mod" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="cli_fec_nac_serializado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cli_fec_reg" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="cli_foto" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="cli_id" type="xs:short" />
      <xs:element minOccurs="0" name="cli_mail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cli_nom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cli_sex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cli_state" type="xs:short" />
      <xs:element minOccurs="0" name="cli_tel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cli_user_mod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cli_user_reg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ubg_id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClienteDC" nillable="true" type="tns:ClienteDC" />
  <xs:complexType name="ArrayOfClienteDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClienteDC" nillable="true" type="tns:ClienteDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClienteDC" nillable="true" type="tns:ArrayOfClienteDC" />
</xs:schema>