LosGrisesWeb/Connected Services/ProxyGenero/LosGrisesServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LosGrisesServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LosGrisesServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGeneroDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GeneroDC" nillable="true" type="tns:GeneroDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGeneroDC" nillable="true" type="tns:ArrayOfGeneroDC" />
  <xs:complexType name="GeneroDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="GeneroId" type="xs:short" />
      <xs:element minOccurs="0" name="GeneroNombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GeneroDC" nillable="true" type="tns:GeneroDC" />
</xs:schema>