LosGrisesWeb/Connected Services/ProxyPersonal/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServicioPersonal" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/LosGrisesServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioPersonal_ConsultarPersonal_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPersonal" />
  </wsdl:message>
  <wsdl:message name="IServicioPersonal_ConsultarPersonal_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPersonalResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioPersonal_ListarPersonal_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarPersonal" />
  </wsdl:message>
  <wsdl:message name="IServicioPersonal_ListarPersonal_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarPersonalResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioPersonal_InsertarPersonal_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarPersonal" />
  </wsdl:message>
  <wsdl:message name="IServicioPersonal_InsertarPersonal_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarPersonalResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioPersonal_ActualizarPersonal_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarPersonal" />
  </wsdl:message>
  <wsdl:message name="IServicioPersonal_ActualizarPersonal_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarPersonalResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioPersonal">
    <wsdl:operation name="ConsultarPersonal">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioPersonal/ConsultarPersonal" message="tns:IServicioPersonal_ConsultarPersonal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioPersonal/ConsultarPersonalResponse" message="tns:IServicioPersonal_ConsultarPersonal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarPersonal">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioPersonal/ListarPersonal" message="tns:IServicioPersonal_ListarPersonal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioPersonal/ListarPersonalResponse" message="tns:IServicioPersonal_ListarPersonal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertarPersonal">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioPersonal/InsertarPersonal" message="tns:IServicioPersonal_InsertarPersonal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioPersonal/InsertarPersonalResponse" message="tns:IServicioPersonal_InsertarPersonal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarPersonal">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioPersonal/ActualizarPersonal" message="tns:IServicioPersonal_ActualizarPersonal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioPersonal/ActualizarPersonalResponse" message="tns:IServicioPersonal_ActualizarPersonal_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioPersonal" type="tns:IServicioPersonal">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarPersonal">
      <soap:operation soapAction="http://tempuri.org/IServicioPersonal/ConsultarPersonal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarPersonal">
      <soap:operation soapAction="http://tempuri.org/IServicioPersonal/ListarPersonal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarPersonal">
      <soap:operation soapAction="http://tempuri.org/IServicioPersonal/InsertarPersonal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarPersonal">
      <soap:operation soapAction="http://tempuri.org/IServicioPersonal/ActualizarPersonal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioPersonal">
    <wsdl:port name="BasicHttpBinding_IServicioPersonal" binding="tns:BasicHttpBinding_IServicioPersonal">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/LosGrisesServices/ServicioPersonal/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>