LosGrisesWeb/Connected Services/ProxyUbigeo/LosGrisesServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LosGrisesServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LosGrisesServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUbigeoDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UbigeoDC" nillable="true" type="tns:UbigeoDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUbigeoDC" nillable="true" type="tns:ArrayOfUbigeoDC" />
  <xs:complexType name="UbigeoDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="UbigeoDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UbigeoId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UbigeoDC" nillable="true" type="tns:UbigeoDC" />
</xs:schema>